<h1>Dashboard</h1>

<H2><%= link_to "New Artist or Promoter", :controller => "artpromo", :action => "new"  %> </h2>

<h2>All your Artists and Promoters</h2>

<ul>
	<% @user.artpromos.find_each do |artpromo| %> 
	 <li>Name: <%= artpromo.name %> </li>
	 <li>Artist or Promoter: <%= artpromo.artist_or_promoter %> </li>
	 <!--<li><%= link_to "Edit", edit_artpromo_path(artpromo) %></li> -->
	<% end %>
</ul>


